<header class="f2bf-header">
  <div class="f2bf-header__inner">
    <a class="f2bf-header__logo-link" href="/">
      <img
        alt="Institute for Christian Studies"
        class="f2bf-header__logo-img"
        src="https://files.constantcontact.com/0e42c4d3901/6fbe9de8-34f9-412d-b5e8-390aec72cad0.png"
      />
    </a>

    <nav aria-label="Main navigation">
      <ul class="f2bf-nav">
        <li class="f2bf-nav__item">
          <a class="f2bf-nav__link" href="/">Free to be Faithful</a>
        </li>
        <li class="f2bf-nav__item">
          <a class="f2bf-nav__link" href="/f2bf-program">Program</a>
        </li>
        <li class="f2bf-nav__item">
          <a class="f2bf-nav__link" href="/f2bf-resource">Resources</a>
        </li>
        <li class="f2bf-nav__item">
          <button aria-expanded="false" aria-haspopup="true" class="f2bf-nav__link">
            Community<span class="f2bf-nav__caret"></span>
          </button>
          <div class="f2bf-dropdown">
            <a class="f2bf-dropdown__link" href="/f2bf-community">Community</a>
            <a class="f2bf-dropdown__link" href="/events">All Events</a>
            <a class="f2bf-dropdown__link" href="/conference-may13">Conference</a>
          </div>
        </li>
        <li class="f2bf-nav__item">
          <a class="f2bf-nav__link" href="/f2bf-courses">Courses</a>
        </li>
      </ul>
    </nav>

    <button
      aria-label="Open menu"
      class="f2bf-burger"
      id="f2bf-burger-btn"
    >
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>

<div class="f2bf-mobile-menu" id="f2bfMobileMenu">
  <button
    aria-label="Close menu"
    class="f2bf-mobile-menu__close"
    id="f2bf-mobile-close-btn"
  >&times;</button>

  <a class="f2bf-mobile-menu__link" href="/">Free to be Faithful</a>
  <a class="f2bf-mobile-menu__link" href="/f2bf-program">Program</a>
  <a class="f2bf-mobile-menu__link" href="/f2bf-resource">Resources</a>
  <div>
    <span class="f2bf-mobile-menu__link">Community</span>
    <div class="f2bf-mobile-menu__sub">
      <a href="/f2bf-community">Community</a>
      <a href="/events">All Events</a>
      <a href="/conference-may13">Conference</a>
    </div>
  </div>
  <a class="f2bf-mobile-menu__link" href="/f2bf-courses">Courses</a>
</div>
